input::placeholder {
    text-align: center;
}

input {
    padding: 3px;
    border-radius: 10px;
}

option {
    padding: 5px;
    border-radius: 10px;
}

select {
    padding: 5px;
    border-radius: 10px;
}