input:not(:placeholder-shown){
    border: 2px solid #4CAF50;

}

input::placeholder {
    /* text-align: center; */
    text-indent: 5px;
}
label {
    font-weight: bold;
    color: #333;
    display: block;
    text-indent: 10px;
    margin-bottom: 5px;
}

input {
    padding: 3px;
    border-radius: 10px;
    text-indent: 5px;
    width: 200px;
    box-sizing: border-box;
}

option {
    padding: 5px;
    border-radius: 10px;
    background:none
}

select {
    width: 200px;
    box-sizing: border-box;
    background: none;
    padding: 5px;
    border-radius: 10px;
}
select.title:valid {
    /* padding: 5px; */
    border: 2px solid #4CAF50;
    background: none;
}

select.continent:valid {
    /* padding: 5px; */
    border: 2px solid #4CAF50;
    background: none;
}   

.attendance{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    /* margin-bottom: 10px; */
}
.attendance1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    /* margin-bottom: 10px; */
}

input.attending {
    width: 160px;
    margin: none;
}

input.online {
    margin: none
}

select.language:valid {
    border: 2px solid #4CAF50;
    background: none;

}

.time, .time1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

input.no {
    width: auto;
    margin: none;
}

input.yes {
    width: auto;
    margin: none;
}