input:not(:placeholder-shown){
    border: 2px solid #4CAF50;

}

input::placeholder {
    /* text-align: center; */
    text-indent: 5px;
}

input {
    padding: 3px;
    border-radius: 10px;
}

option {
    padding: 5px;
    border-radius: 10px;
}

select {
    padding: 5px;
    border-radius: 10px;
}
select:valid {
    border: 2px solid #4CAF50;
    background-color: none;
}